@charset "UTF-8";

body{
	font-family: Arial, sans-serif;	
	margin: 0;
	padding: 0;	
}
a{
	color: #606060;
	text-decoration: none;
}

/* Cabeçalho e Menu da página */

img#logo{
	padding-left: 50px;
	padding-top: 15px;
}
header#cabecalho{
	background-color: #000033;
	padding-bottom: 7px;
}
header#cabecalho h1{
	position: absolute;
	left: 0px;
	top: -30px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 25pt;
	padding: 0px;
	color: #e6e600;
	width: 400px;
}
/*
header#cabecalho h1{
	position: absolute;
	left: 10px;
	top: -15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30pt;
	padding: 0px;
	margin-bottom: 0px;
	color: #ffff1a;
}*/
header#cabecalho h2{
	position: absolute;
	left: 200px;
	top: -10px;
	font-family: 'Titillium Web', sans-serif;
	color: #ffff80;
	font-size: 15pt;
	padding: 0px;
	margin-top: 0px;
}
nav#menu{
	display: block;
}
nav#menu ul{
	list-style: none; /* Retira o ícone de lista (bolinha) */
	text-transform: uppercase; /* Deixa a palavra em maiúsculo */
	/*position: fixed;*/
	position: absolute; /* Posicionamento absoluto de acordo com as coordenadas abaixo*/
	top: 3px; /* Subindo o menu*/
	left: 690px; /* espaçamento a esqueda do menu*/	
}
nav#menu li{
	display: inline-block; /* Deixa os ítens na mesma linha */
	padding: 10px; /* Espaçamento de 10 px de cada backgroud dos itens */
	margin: 1px; /* Espaçamento entre os intens */
	transition: background-color 1s;
}
nav#menu a:hover{  /* Houver é o efeito quando se passa o mouse por cima */
	color: #fff;
}
nav#menu a{
	color: #e6e600;
	text-decoration: none; /* Retira o sublinhado */
	font-size: 18px;
}
div#inicio{
	position: absolute; /* Posicionamento absoluto de acordo com as coordenadas abaixo*/
	top: 25px; /* Subindo o menu*/
	left: 150px; /* espaçamento a esqueda do menu*/
}

/* Interface geral */

div#interface{
	/* width: 1350px; */
	background-color: #ffffff;
	margin: -20px -0 0px -0; /* Margen (cima direita baixo esquerda) */
	/* box-shadow: 0px 0px 10px rgba(255,255,0,1); Sombra lateral da página */
	padding: 10px 0 10px 0; /* Espaçamento entre texto e margem */
	color: #606060;
}/*
div#image-center{
	background-image: url("../_images/image8.png");
	background-repeat: no-repeat;
	height: 500px;
	background-size: 100% auto;
}*/

/* Slide da Home */

.cycle-slideshow img{
	width: 100%;
}

/* Conteúdo da Home */

article#content{
	display: block; /* Colocar em bloco */
	float: left;
	width: 800px;

}
article#content h2{
	background-color: #000033;
	color: white;
	margin-left: 40px;
	margin-right: 400px;
	padding: 3px 10px 3px 10px;
	border-radius: 3px 3px 0px 0px;
	font-weight: normal;
}
article#content p{
	margin-left: 40px;
}
aside#sidebar{
	display: block;
	float: right;
	width: 350px;
	height: 700px;
	border-left: 1px solid #ccc;
	padding-left: 20px;
	overflow: scroll;
	color: #19587c;
}
aside#sidebar h2{
	background-color: #000033;
	color: white;
	margin-right: 40px;
	padding: 3px 10px 3px 10px;
	border-radius: 3px 3px 0px 0px;
	font-weight: normal;
}
aside#sidebar a{
	color: #000033;
}
aside#sidebar p{
	border-bottom: 1px dotted #606060;
	margin-right: 10px;
	padding-bottom: 10px;
}
aside#sidebar p:hover{
	text-decoration: underline;
}
aside#sidebar a:hover{
	color: #000033;
	font-weight: bold;
}
/*
div#image-center img{
	width: 1350px;
	margin-left: -250px;
	padding: 0px;
}
*/

/* Tabela da Home */

table#tabledate{
	border: 1px solid #000033;
	margin-left: 45px;
	border-spacing: 0px;
	font-weight: bold;
	color: #000033;
}
table#tabledate td{
	border: 1px solid #000033;
	padding: 5px;
}
.cleft{
	background-color: #e6e600;
	color: #000033;
}
.cmiddle{
	background-color: #000033;
	color: #ffffff;
	text-align: right;
}
.cright{
	background-color: #000033;
	color: #ffffff;
}
.page-title{
	font-family: 'Titillium Web', sans-serif;
	color: #000033;
	font-size: 30px;
	margin-top: 70px;
}

/* Estilo para o conteúdo das outras páginas */

section#other-content{
	margin-left: 45px;
	margin-right: 45px;
}
.form-contact{
	margin-left: 45px;
	font-size: 18px;
}
.form-group {
	margin-bottom: 20px;
}
.form-group label {
	margin-bottom: 5px;
	font-size: 18px;
	display: block;
}
.field {
	display: block;
	width: 50%;
	padding: 8px 10px;
	line-height: 20px;
	border: 1px solid #ddd;
	font-family: 'Arial', sans-serif;
	background: #fff;
	font-size: 16px;
	/*outline: none;*/
	outline-color: rgb(0, 0, 51, 0.5);
}
.button {
	background: transparent;
	border: 1px solid #000033;
	color: #000033;
	display: inline-block;
	line-height: 40px;
	padding: 0 30px;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	cursor: pointer; /* Muda o estilo do cursor */
}
.button:hover {
	text-decoration: underline;
}

/* Estilo para a Galeria */

ul.gallery{
	width: 880px;
	list-style: none;
	display: flex;
	margin: 80px 80px;
}
.min{
	width: 200px;
	padding: 10px;
}
.lbox{
	visibility: hidden;
	opacity: 0;
}
.lbox:target{
	opacity: 1;
	visibility: visible;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(10,10,10,.7);
	position: fixed;
}
.box_img{
	width: 1000px;
	margin: 150px auto;
	text-align: center;
	margin-top: 100px;
}
.btn{
	color: #fff;
	font-family: 'Arial';
	text-decoration: none;
	position: absolute;
	width: 50px;
	height: 50px;
	font-size: 40px;
	text-align: center;
}
#prev{
	left: 5%;
	top: 45%;
}
#next{
	right: 5%;
	top: 45%;
}
#close{
	top: 0;
	right: 2%;
}
.box_img img{
	opacity: 0;
}
.lbox:target .box_img img{
	opacity: 1;
	transition: opacity .4s linear;
}

/* Estilo para as figuras */

figure.photo-subtitle{
	font-style: italic;	
	margin-left: 0px;
}
figure.photo-subtitle img{
	margin-top: 20px;
}
figure.photo-subtitle figcaption{
	font-family: Arial;
	font-size: 15px;
	font-style: normal;
}
figure.photo-subtitle p{
	position: absolute;
	margin-left: 200px;
	margin-top: -110px;
}
figure.photo-news{
	position: relative;
	width: 380px;
	height: 220px;
	float: left;
	margin-left: 90px;
	margin-right: -20px;
	border: 1px solid white;
	box-shadow: 1px 1px 4px black;
}
figure.photo-news figcaption{
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,.4);
	color: white;
	width: 100%;
	height: 60px;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
	/* opacity: 0; */
}
figure.photo-news:hover figcaption{
	/* opacity: 1; */
	width: 100%;
	height: 100%;
}

/* Página de Notícias */

div#news{
	margin-left: -80px;
}
aside#sidebar-news{
	position: absolute;
	float: right;
	right: 30px;
	margin-top: -120px;
}
aside#sidebar-news a{
	color: #000033;
}
aside#sidebar-news a:hover{
	text-decoration: underline;
}

/* Estilo página de Login */

div#login{
	position: absolute;
	left: 500px;
	top: 120px;
}
div#login h2{
	margin-left: 115px;
}
div#login input[type=submit]{
	margin-left: 95px;
	margin-top: 20px;
}
div#login img{
	margin-left: 127px;
}

/* Estilo Painel de Controle */


section#wrapper{
	width: 1020px;
	height: auto;
	margin: 0 auto;
}
section#content-panel{
	width: 1020px;
	height: auto;
	float: left;
	background-color: #fff;
}
section#contagem{
	width: 500px;
	height: 105px;
	float: left;
	background-color: #fff;
	border-radius: 3px;
	margin-top: 25px;
	margin-left: 7px;
	border: 1px solid #ccc;
}
section#contagem table{
	width: 470px;
	height: 70px;
	margin-top: 12px;
	margin-left: 14px;
	font-family: Tahoma;
	font-size: 14px;
}
section#contagem table tr td{
	padding: 10px 0px 10px 0px;
}
.table-marc{
	width: 150px;
	color: #19587c;
}
.table-val{
	text-align: right;
}
section#nota-rapida{
	width: 467px;
	height: 470px;
	float: right;
	margin-top: 25px;
	margin-bottom: 40px;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #ccc;
	border-top: none;
	padding-bottom: 20px;
	padding-left: 25px;
}
section#nota-rapida h2{
	background-color: #000033;
	color: white;
	margin-right: 40px;
	padding: 3px 10px 3px 10px;
	border-radius: 3px 3px 0px 0px;
	font-weight: normal;
}
section#nota-rapida table{
	
}
section#nota-rapida table tr td input[type="text"]{
	width: 435px;
	height: auto;
	padding: 10px;
	box-shadow: inset 0px 0px 2px 0px #000f23;
	border: 0px solid #ccc;
	border-radius: 2px;
	color: #838383;
	font-size: 14px;
}
section#nota-rapida table tr td textarea{
	max-width: 435px;
	max-height: 170px;
	min-width: 435px;
	min-height: 170px;
	padding: 10px;
	box-shadow: inset 0px 0px 2px 0px #000f23;
	border: 0px solid #ccc;
	border-radius: 2px;
	color: #838383;
	font-size: 14px;
}

/* Últimas Notícias */

section#links-ultimas-noticias{
	width: 500px;
	height: auto;
	float: left;
	margin-left: 5px;
	margin-top: 17px;
}
section#links-ultimas-noticias h2{
	background-color: #000033;
	color: white;
	margin-right: 40px;
	padding: 3px 10px 3px 10px;
	border-radius: 3px 3px 0px 0px;
	font-weight: normal;
}
section#links-ultimas-noticias ul{
	width: 502px;
	height: auto;
	float: left;
	margin: 0;
	margin-left: -1px;
	list-style: none;
	padding: 0;
}
section#links-ultimas-noticias ul li{
	width: 480px;
	height: auto;
	float: left;
	padding: 7px 0px 7px 0px;
	color: #19587c;
	font-size: 14px;
	text-align: justify;
}
section#links-ultimas-noticias ul li:hover{
	background-color: #000033;
	color: #fff;
	cursor: pointer;
	border-radius: 2px;
	padding: 7px 10px 7px 10px;
}
section#logout-section{
	padding-top: 25px;
}
section#logout-section h4{
	position: absolute;
	margin-top: 0;
	right: 60px;
	color: #000033;
}
section#logout-section a{
	position: absolute;
	margin-left: 20px;
	margin-top: 25px;
	color: #000033;
}
section#logout-section a:hover{
	text-decoration: underline;
}

/* Estilo Gerenciador de Notícias */


section#submenu{
	width: 1020px;
	height: auto;
	float: left;
	margin-top: 10px;
}

section#submenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

section#submenu ul li{
	width: auto;
	height: auto;
	display: inline;
	font-size: 16px;
	color: #000;
	background-color: #ddd;
	padding: 10px 15px 10px 15px;
	margin-left: 5px;
	border-radius: 2px;
	float: left;
}
section#publicar-noticia-left{
	float: left;
	padding-top: 15px;
}
section#publicar-noticia-left input[type="text"]{
	margin-bottom: 5px;
	width: 673px;
	padding: 7px 10px 7px 10px;
	border: 1px solid #ccc;
}

section#publicar-noticia-right{
	float: right;
	margin-top: 18px;
}
section#publicar-nota-informacoes{
	width: 270px;
	height: auto;
	background-color: #f4f4f4;
	padding: 10px;
	border: 1px solid #ccc;
	margin-top: 1px;
	margin-bottom: 10px;
}

section#publicar-nota-informacoes table{
	width: 270px;
	height: auto;
	font-family: Tahoma;
	font-size: 14px;
}
section#publicar-nota-informacoes table tr td{
	padding: 0px 0px 12px 0px;
}

section#publicar-nota-informacoes table tr:last-child td{
	padding: 0px;
}

section#publicar-nota-informacoes table tr td input[type="submit"]{
	width: auto;
	height: auto;
	padding: 5px 7px 5px 7px;
	background-color: #fff;
	color: #121212;
	border: 1px solid #ccc;
	border-radius: 2px;
}

section#publicar-nota-informacoes table tr td input[type="submit"]:hover{
	background-color: #121212;
	color: #fff;
	cursor: pointer;
	border: 1px solid #121212;
}

section#publicar-nota-informacoes table tr td input[type="text"]{
	width: 240px;
	height:  auto;
	padding: 7px 10px 7px 10px;
	border: 1px solid #ccc;
}

section#publicar-nota-informacoes table tr td select{
	width: 265px;
	height:  auto;
	padding: 7px 10px 7px 10px;
	border: 1px solid #ccc;
}

/* Configuração Footer */

footer{
	width: 100%;
	height: 55px;
	float: left;
	display: table;
	position: relative;
	margin-bottom: 20px;
}

footer{
	clear: both; /* Manter o Footer na parte de baixo*/
	border-top: 1px solid #606060;
}
footer p{
	text-align: center;
}